<div class="cart-container">

  <!-- Cart Header -->
  <div class="cart-header">
    <span class="cart-title">CART</span>
  </div>


  <div *ngIf="cart.length === 0">
    <div class="empty-cart">
      <img src="images/cart.png" alt="">
      Cart is empty.
      <p>Looks like you haven't made your choice yet..</p>
    </div>
  </div>
  <div *ngFor="let item of cart">
    <div class="cart-item">
      <img [src]="item.images?.[0]" alt="{{item.product_name}}" class="cart-item-img">
      <div class="cart-item-details">
      <div class="cart-item-name">{{ item.product_name }}</div>
      <div class="cart-item-info">Size: {{ item.selectedSize }}</div>
      <div class="cart-item-info">Price: ${{ item.price }}</div>
      <div class="cart-item-controls">
        <button (click)="desc(item)" [disabled]="item.quantity === 1">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="inc(item)">+</button>
      </div>
      </div>
     
      <button class="cart-item-remove" (click)="remove(item)">&times;</button>
    </div>
  </div>
 
  <div class="recommended-section">
  <div class="recommended-header">
    <span>RECOMMENDED FOR YOU</span>
  </div>
  <div class="carousel-wrapper">
    <div class="rec-products-slider">
  <div class="rec-card" *ngFor="let rec of recommendedProducts">
    <img [src]="rec.image" [alt]="rec.product_name" class="rec-product-img" />
    <div class="rec-content">
      <div class="rec-title">{{ rec.product_name }}</div>
      <div class="rec-prices">
        <span class="rec-sale">${{ rec.price }}</span>
        <span class="rec-list">${{ rec.original_price }}</span>
      </div>
      <div class="rec-controls-group">
        <select [(ngModel)]="rec.selectedSize" class="rec-size-dropdown">
          <option value="" disabled selected>Select Size</option>
          <option *ngFor="let s of rec.sizes">{{ s }}</option>
        </select>
        <button (click)="addToCart(rec, rec.selectedSize)" class="rec-add-btn">
          Add
        </button>
      </div>
    </div>
  </div>

    
 
    </div>
 
</div>
</div>
 

  <!-- Footer -->
  <div class="cart-footer" *ngIf="cart.length > 0">
    <div class="subtotal-row">
      <span>Subtotal</span>
      <span>${{ subtotal }}</span>
    </div>
    <button class="checkout-btn" routerLink="/checkout">CHECKOUT</button>
    <div class="express-btns">
      <button class="amazon">amazon pay</button>
      <button class="paypal">PayPal</button>
      <button class="shop-pay">shop Pay</button>
    </div>
  </div>
</div>